<h1>Welcome!</h1>
<h2>What is this?</h2>
This is intended to be the canonical source for beach volleyball drills, period. There is no cost to using it in any way
- it's website by the community, for the community, with the goal of consolidating the knowledge from around the world and
elevating the game.
<h2>Why does it look so bad?</h2>
Time. I made this site in my copious amounts of spare time, and as I'm an engineer, it is designed to be functional and efficient,
not pretty. Kind of like
<a href="https://www.bvbinfo.com" noreferrer>bvbinfo</a>.
<h2>Can I contribute / use the animator?</h2>
<p>Yes please! Feel free to contribute drills at any time, and I will walk through and add an animation and give them the "Verified"
  checkmark within a few days.</p>
<p>At this moment in time, you can't really use the animator because it's still a bit too buggy and confusing. If you are interested
  in it, though, please let me know!</p>
<h2>I have feedback</h2>
Please
<a noreferrer href="">let me know!</a> Note that I do not have any interest in making any money off of this at any time.
<h2>Everything below this line is probably boring to non-engineers, and may be boring to them, too</h2>
<h3>This website is crap</h3>
If you think this is bad, you should see
<a noreferrer>the code</a>. Overall, it's a plethora of bad design. There are about a million ways that you could hack this site. But why
would you do that? It's a completely free service, I stand nothing to gain by it. I mean, if you want to be a jerk, go ahead,
but that'll just make it so I have to spend more time making it secure. And I don't have any data stored that you would want
to steal.
<h3>Who are you?</h3>
Glad you asked! I'm a software engineer and aspiring beach volleyball player. I made this site after being inspired by an
<a noreferrer href="">enlightening talk</a>, and because of my constant forgetting and relearning of good drills.
<h3>Why hasn't this been done before?</h3>
<p>It's been attempted.
  <a href="" noreferrer>Sportplan</a> has probably done the overall best job, they have a full-featured website with folders, reviews, an animator,
  etc... Overall, it's a really cool drill organizing app.</p>
<p>But this is not an organizing app - it's an animating app. And I think that's really the most important part, and SportPlan's
  engineers missed the mark there. Their animator has one fatal flaw - you can't make edits in the middle of an animation.
  It's as though they took a chalkboard and stuck it onto a computer screen.</p>
<p>But a computer is not a chalkboard, and once you separate yourself from that paradigm, you can start to make some really
  cool stuff - you can create and visualize drills that would be impossible on a static surface.
