<drills-legend>
  </drills-legend>
  <div>
    <drills-court></drills-court>
    <drills-action></drills-action>
  </div>
  <div>
    Speed
    <mat-slider thumb-label="true" min="30" max="200" step="10" invert (input)="onSpeedChange($event)">
    </mat-slider>
  </div>
  <div>
    Future
    <mat-slider thumb-label="true" min="0" max="90" step="1" (input)="onInterpolateChange($event)">
    </mat-slider>
  </div>
  <div>
    Past
    <mat-slider thumb-label="true" min="0" max="10" step="1" [ngModel]="past | async" (input)="onPastChange($event)" value="3">
    </mat-slider>
  </div>
