:host {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  align-items: center;
}

drills-court {
  display: block;
}

drills-legend{
  display: block;
  width: 40px;
}

.toolbar button {
  width: 20px;
}

.templates {
  width: 50px;
}
