:host {
    position: relative;
}

drills-entity {
    position: absolute;
}

mat-slider {
    left: 400px;
}

.selected {
    border: gold 2px solid;
}

canvas {
    height: 400px;
    width: 400px;
}