<ng-container *ngFor="let entity of (entities | async); index as idx; trackBy: trackByIdx">
  <ng-container *ngFor="let i of past | array">
    <drills-entity *ngIf="getPos(entity, i)" [style.left.px]="getPos(entity, i)?.posX" [style.top.px]="getPos(entity, i)?.posY"
      [index]="idx" [style.opacity]="(100 - (100 / past) * i) / 100" [keyframeIndex]="keyframeIndex - i">
    </drills-entity>
  </ng-container>
  <ng-container *ngFor="let i of interpolate | array">
    <drills-entity *ngIf="getPos(entity, i * -1)" [style.left.px]="getPos(entity, i * -1)?.posX" [style.top.px]="getPos(entity, i * -1)?.posY"
      [index]="idx" [style.opacity]="(100 - (100 / interpolate) * i) / 100" [keyframeIndex]="keyframeIndex + i">
    </drills-entity>
  </ng-container>
  <drills-entity [class.selected]="entity === (currentEntity | async)" [style.left.px]="getPos(entity)?.posX" [style.top.px]="getPos(entity)?.posY"
    [index]="idx" (newPosition)="addPosition(idx, $event)" (setPosition)="setPosition(idx, $event)" [keyframeIndex]="keyframeIndex">
  </drills-entity>
</ng-container>