:host {
  position: relative;
}

drills-entity {
  position: absolute;
}

.selected {
  border: gold 2px solid;
}

canvas {
  height: 400px;
  width: 400px;
}

button {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.image {
  font-size: 15px;
  font-style: italic;
  opacity: 0.74;
}
