:host {
  display: flex;
  flex-direction: column;
}

.action {
  width: 150px;
  margin: 8px;
}

.container {
  display: flex;
  align-items: center;
}

drills-preview {
  flex: 1;
}

h2 {
  display: block;
}

.duration {
  width: 40px;
}

.generate {
  mat-form-field {
    width: 150px;
  }
}
