<div>
  <mat-icon svgIcon="volleyball" draggable="true" (dragstart)="onDragStart($event, 'volleyball', 'volleyball')" (dragend)="onDragEnd($event, 'volleyball')">
  </mat-icon>
  <mat-icon svgIcon="player_white" draggable="true" (dragstart)="onDragStart($event, 'player', 'player_white')">
  </mat-icon>
  <mat-icon svgIcon="player_blue" draggable="true" (dragstart)="onDragStart($event, 'player', 'player_blue')">
  </mat-icon>
  <mat-icon svgIcon="player_green" draggable="true" (dragstart)="onDragStart($event, 'player', 'player_green')">
  </mat-icon>
  <mat-icon svgIcon="player_yellow" draggable="true" (dragstart)="onDragStart($event, 'player', 'player_yellow')">
  </mat-icon>
</div>