<div>
  <mat-icon svgIcon="volleyball" draggable="true" (dragstart)="onDragStart($event, EntityType.VOLLEYBALL, 'volleyball')" (dragend)="onDragEnd($event, EntityType.VOLLEYBALL)">
  </mat-icon>
  <mat-icon svgIcon="player_white" draggable="true" (dragstart)="onDragStart($event, EntityType.PLAYER, 'player_white')">
  </mat-icon>
  <mat-icon svgIcon="player_blue" draggable="true" (dragstart)="onDragStart($event, EntityType.PLAYER, 'player_blue')">
  </mat-icon>
  <mat-icon svgIcon="player_green" draggable="true" (dragstart)="onDragStart($event, EntityType.PLAYER, 'player_green')">
  </mat-icon>
  <mat-icon svgIcon="player_yellow" draggable="true" (dragstart)="onDragStart($event, EntityType.PLAYER, 'player_yellow')">
  </mat-icon>
</div>
