@import '~@angular/material/theming';

.header {
  display: flex;
  justify-content: flex-end;

  input {
    margin-left: 24px;
  }

  button {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }

  .star {
    color: mat-color($mat-yellow, 600);
  }
}

.check {
  margin-right: 64px;
}

.drill {
  align-items: center;
  display: flex;

  mat-checkbox {
    margin: 0 8px 0 -8px;
  }

  drills-preview {
    flex: 1;
  }
}
