<mat-expansion-panel [expanded]="startExpanded" *ngIf="plan | async; let p" [hideToggle]="true">
  <mat-expansion-panel-header [collapsedHeight]="'64px'">
    <div class="header">
      <div class="title">
        <h3>{{p.title}}</h3>
        <p>{{p?.datetime.toDate() | date:'medium'}} {{p.location}}</p>
      </div>
      <button class="right" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/cadet/' + p.id">
          <mat-icon matTooltip="Edit this drill">edit</mat-icon>
          Edit
        </button>
        <button mat-menu-item [routerLink]="'/plans/' + p.id">
          <mat-icon matTooltip="View this drill">visibility</mat-icon>
          View
        </button>
      </mat-menu>
    </div>
  </mat-expansion-panel-header>
  <mat-chip-list>
    <mat-chip *ngFor="let player of p.players | playerInfo">
      {{player.displayName}}
    </mat-chip>
  </mat-chip-list>
  <ng-template matExpansionPanelContent>
    <p>
      {{ p.notes }}
    </p>
    <div *ngFor="let planDrill of planDrills | async; let idx = index;" class="drill">
      <div class="container">
        {{ planDrill.duration }}
        <br> min
      </div>
      <drills-preview [drill]="planDrill.drill"></drills-preview>
    </div>
  </ng-template>
</mat-expansion-panel>
